# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Logs
*.log

# IDE configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Allure reports
allure-results/
allure-report/

# OS files
.DS_Store
Thumbs.db
